# Step 2: Data Preprocessing

This notebook focuses on cleaning and preparing the dataset for analysis and modeling.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('../data/online_retail.csv')
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2022-12-01 08:26:00,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2022-12-01 08:26:00,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom

### Handling Missing Values

In [3]:
df.isnull().sum()

InvoiceNo           0
StockCode           0
Description      1454
Quantity            0
InvoiceDate         0
UnitPrice           0
CustomerID     135080
Country             0
dtype: int64

In [4]:
df = df.dropna(subset=['CustomerID'])

In [5]:
df.isnull().sum()

InvoiceNo      0
StockCode      0
Description    0
Quantity       0
InvoiceDate    0
UnitPrice      0
CustomerID     0
Country        0
dtype: int64

### REMOVE CANCELLED TRANSACTIONS

In [6]:
df = df[~df['InvoiceNo'].astype(str).str.startswith('C')]

### REMOVE INVALID VALUES

In [7]:
df = df[(df['Quantity'] > 0) & (df['UnitPrice'] > 0)]

### REMOVE DUPLICATES

In [8]:
df.duplicated().sum()

np.int64(5192)

In [9]:
df = df.drop_duplicates()

### CREATE TOTAL PRICE FEATURE

In [10]:
df['TotalPrice'] = df['Quantity'] * df['UnitPrice']

In [11]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,TotalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2022-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2022-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2022-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

### FINAL DATA CHECK

In [12]:
df.shape

(392692, 9)

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 392692 entries, 0 to 541908
Data columns (total 9 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   InvoiceNo    392692 non-null  object
 1   StockCode    392692 non-null  object
 2   Description  392692 non-null  object
 3   Quantity     392692 non-null  int64
 4   InvoiceDate  392692 non-null  object
 5   UnitPrice    392692 non-null  float64
 6   CustomerID   392692 non-null  float64
 7   Country      392692 non-null  object
 8   TotalPrice   392692 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 30.0+ MB

### SAVE CLEANED DATA

In [14]:
df.to_csv('../data/cleaned_online_retail.csv', index=False)

### Preprocessing Summary

- Removed rows with missing CustomerID values.
- Excluded cancelled transactions.
- Removed invalid quantity and price values.
- Eliminated duplicate records.
- Created a TotalPrice feature for monetary analysis.
- Saved the cleaned dataset for further analysis.